<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="mobiletestautomation.androidapptesting.resources.Listeners"/>
        <listener class-name="mobiletestautomation.androidapptesting.resources.ExtentReporterNG"/>


    </listeners>

    <test thread-count="5" name="Test">
        <classes>
            <class name="appiumframework.Ecommerce_tc_4"/>
            <class name="appiumframework.ApiDemoTest"/>

        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
